.wrapper {
    background-color: whitesmoke;
    border-radius: 3px;
    font-family: serif;
    list-style-type: none;
    padding: 0;
}

.form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
}

.form-row > label {
    padding: .5em 1em .5em 0;
}
.form-row > input {
    flex: 1;
}